.cart {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.list-container {
    width: 90%;
    padding-bottom: 6rem;
}

.modify {
    color: antiquewhite;
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.c-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
    cursor: pointer;
    padding: 1px 10px 1px 10px;

    margin-top: 2px;
}

.c-list-hover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
    cursor: pointer;

    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 3px 0px 3px #414346;
    background-color: #6c757d;
}

.c-name {
    width: 80%;
    padding: 2px 10px 3px 10px;
}

.plus {
    width: 20%;
    padding: 2px 10px 3px 10px;
    text-align: right;
    color: white;
    text-shadow: 0px 0px 2px #414346;
}

.p-list {
    display: flex;
}

.p-list-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.p-list-name span {
    line-height: 1;
}

.p-list-trash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.p-list span {
    width: 100%;
    margin-left: 1em;
    color: white;
    display: block;
}

.p-list input {
    /* display: none; */
    opacity: 0.8;
}

.p-list span {
    user-select: none;
}

.p-trash {
    width: 1.2em;
    margin: auto;
    user-select: none;
}

.footer-list {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3em;
    background-color: antiquewhite;
}

.input-product {
    width: 65%;
    padding: 2px;
}

.add {
    width: 25%;
    padding: 2px;
}

.add input {
    width: 100%;
}

.btn-menu {
    width: 10%;
    padding: 2px;
}

.img-menu {
    width: 100%;
    padding-bottom: 3px;
    filter: invert(1);
}

.menu {
    display: none;
    justify-content: space-around;
}

.undo {
    width: 50%;
    padding: 2px;
    color: white;
}

.pay {
    width: 50%;
    padding: 2px;
    font-weight: bolder;
    text-shadow: 0px 0px 2px darkslategray;
    color: white;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
}

.modal-body {
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: antiquewhite;
}

.amount {
    width: 100%;
    margin: 10px 0px;
}